c
h1 {
  margin-top: 26px;
}
body {
  font-family: sans-serif;
  width: 50%;
  max-width: 512px;
  margin: 0 auto;
  background-color: rgba(232, 141, 122, 0.5);
}

span#play_you {
  padding: 12px;
  margin: 8px;
}

span#play_machine, #game_won, span#game_lost, span#game_draw, span#game_played {
  padding: 12px;
  margin: 8px;
}

button {
  padding: 18px 28px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 26px;
  background-color: #ffab23;
  color: #333;
}

 button:hover {
   background: linear-gradient(#ffab23 45%, #ffec64 100%);
   border: none;
 }
